<action-bar></action-bar>
<ScrollView row="0">
    <StackLayout class="full-dashboard">
        
        <StackLayout class="full-content">
            <StackLayout class="edit-container">
                <StackLayout class="form" [formGroup]="form" novalidate>
                    <GridLayout rows="auto, auto,auto">
                        <StackLayout class="input-filld" row="0">
                            <TextField height="40" padding="10" fontSize="12" hint="Name Of Your Business" class="input input-border cyan-border m-t-10" returnKeyType="next" formControlName="business_name"  [ngClass]="displayFieldCss('business_name')"
                                borderRadius="2" borderColor="#6c6969"></TextField>
                            <StackLayout *ngIf="isFieldValid('business_name')" class="invalid-feedback">
                                <Label fontSize="8" text="Name Of Your Business is required pull-right"></Label>
                            </StackLayout>
                        </StackLayout>

                        <StackLayout class="input-filld" row="1">
                            <TextField height="40" padding="10" fontSize="12" hint="Website URL" class="input input-border cyan-border m-t-10" returnKeyType="done" formControlName="app_website_url"  borderRadius="2" borderColor="#6c6969" backgroundColor="#fff"></TextField>

                        </StackLayout>

                        <StackLayout class="input-filld" row="2">
                            <TextView lineHeight="12" height="200" padding="10" fontSize="12" hint="Description Of Your Business" class="input input-border cyan-border m-t-10" returnKeyType="done" formControlName="business_description"
                                [ngClass]="displayFieldCss('business_description')" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff"></TextView>
                            <StackLayout *ngIf="isFieldValid('business_description')" class="invalid-feedback">
                                <Label text="Description Of Your Business is required"></Label>
                            </StackLayout>
                        </StackLayout>

                    </GridLayout>

                    <Button class="btn btn-primary simple-btn" text="Update" (tap)="submitCreateAppBusinessInfo()">
                    </Button>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>