.full-dashboard {
    background: url(~/images/dashboard-bg.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 30 0 30;
}

.card {
    background-color: transparent;
    color: #ffffff;
    margin: 15 15 0;
}

.app-icon {
    border-radius: 100;
    /* background: #ffffff; */
    background: url(~/images/apps-bg.jpg) no-repeat 0 0;
    padding: 30px;
}

.app-icon Image {
    width: 120px;
    height: 120px;
}

.app-name {
    font-size: 12;
    text-align: center;
    margin-top: 5;
}

.action-section {
    background: url(~/images/apps-bg.jpg) no-repeat 0 0;
    padding: 50px 25px;
}
.action-section .fa
{
    text-align: center;
    display: block;
    font-size: 25;
    color:#000;
}
.action-text {
    font-size: 14;
    text-align: center;
    margin-top: 5;
    color: #ffffff;
}

.category_product_accordian{
    margin: 10;
}

.category_heading{
    padding: 10;
    color: #000;
}

.product_list{
    padding: 10;
}
.discounted_price{
    font-weight: 600;
    color: #000;
}
.original_price{    
    color: #ccc;
    padding: 0 5;
}

.original_price.isDiscount{
    text-decoration: line-through;
}
.discount{
    color: #ccc;
}
.product_name{
    /* font-size: 18; */
}
.quantity{
    text-align: center;
    padding: 10 0;
}