<ActionBar title="test">
    <GridLayout rows="*" columns="40,*,40,40" verticalAlignment="center">
        <Image src="~/images/shyam-wheel.png" class="action-image" row="0" col="0" verticalAlignment="center"></Image>
        <Label text="Shyam Future Store" class="action-label" color="#00aff0" row="0" col="1" verticalAlignment="center"></Label>
        <Label class="fa logout-label" (tap)="logout()" [text]="'fa-sign-out' | fonticon" *ngIf="isLoggedin" row="0" col="3" verticalAlignment="center"></Label>        
    </GridLayout>
</ActionBar>