<ScrollView row="0">
    <StackLayout class="full-dashboard">
        <Label color="#021733" textAlignment="center" fontSize="15" text="Edit Business Image"></Label>
        <StackLayout width="100%" textAlignment="center" class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>


        <FlexboxLayout marginBottom="30" flexWrap="wrap" justifyContent="space-around" alignItems="flex-start">
            <CardView *ngFor="let item of gallery_images" class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="0" shadowOffsetHeight="0" alignSelf="flex-start" width="33%">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon" (tap)="pickBusinessImages(item.id)">

                        <AbsoluteLayout class="camera-icon" paddingLeft="20">
                            <Image borderColor="#d3d3d3" borderWidth="1" [src]="item.app_images" *ngIf="item.app_images != '' || item.app_images != null"></Image>

                            <Image src="~/images/no-image-logo.jpg" *ngIf="item.app_images == '' || item.app_images == null"></Image>

                            <Label backgroundColor="#cb202d" color="#fff" fontSize="8" borderRadius="50%" VerticalAlignment="center" class="fa change_logo  upload-image" [text]="'fa-camera' | fonticon"></Label>
                        </AbsoluteLayout>

                    </StackLayout>
                </StackLayout>
            </CardView>
            <CardView class="card" *ngIf="gallery_images.length < 3" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0" alignSelf="flex-start" width="33%">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon" (tap)="pickNewBusinessImages()">
                        <AbsoluteLayout class="camera-icon" paddingLeft="20">
                            <Image borderColor="#d3d3d3" borderWidth="1" src="~/images/no-image-logo.jpg"></Image>
                            <Label backgroundColor="#cb202d" color="#fff" fontSize="8" borderRadius="50%" VerticalAlignment="center" class="fa change_logo upload-image" VerticalAlignment="center" [text]="'fa-camera' | fonticon"></Label>
                        </AbsoluteLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </FlexboxLayout>
        <Button *ngIf="key != ''" class="btn btn-primary simple-btn" text="Next" (tap)="next()">
        </Button>
    </StackLayout>
</ScrollView>