.full-dashboard {
    background: url(~/images/dashboard-bg.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 30 0 30;
}

.card {
    background-color: transparent;
    color: #ffffff;
    margin: 15 15 0;
}