<ScrollView row="0">

    <StackLayout class="full-dashboard" *ngIf="visible_key">
        <Label color="#021733" fontSize="15" textAlignment="center" text="Order Details"></Label>
        <StackLayout width="100%" textAlignment="left" class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
        <StackLayout class="m-t-30">
            <CardView class="action-section">
                <StackLayout>
                    <GridLayout rows="auto, auto" columns="*, *, *, 40" class="list-group-item" padding="10" verticalAlignment="center">
                        <Label row="0" col="0" [text]="order_details.customer_details.name" verticalAlignment="center"></Label>
                        <Label row="1" col="0" [text]="order_details.customer_details.contact_no" class="body" verticalAlignment="center"></Label>
                        <Label row="0" col="1" [text]="order_details.price" class="body" verticalAlignment="center"></Label>
                        <Label row="1" col="1" *ngIf="!order_details?.is_paid" text="Not Paid"></Label>
                        <Label row="1" col="1" *ngIf="order_details?.is_paid" text="Paid"></Label>
                        <Label row="0" col="2" [text]="order_details.created_at | date:'dd-MM-yyyy'" class="body" verticalAlignment="center"></Label>
                        <Label row="1" col="2" *ngIf="!order_details?.delivery_status" text="Not Delivered"></Label>
                        <Label row="1" col="2" *ngIf="order_details?.delivery_status" text="Delivered"></Label>
                    </GridLayout>
                </StackLayout>
            </CardView>
            <CardView class=" action-section">
                <StackLayout *ngFor="let item of order_details?.order_details;let i = index">
                    <GridLayout rows="*" columns="*,*" padding="10" verticalAlignment="center">
                        <StackLayout row="0" col="0" verticalAlignment="center" orientation="vertical" horizontalAlignment="left">
                            <Label [text]="item.product_details.product_name" textWrap="true" verticalAlignment="center" class="product_name"></Label>
                            <StackLayout orientation="horizontal">
                                <Label [text]="item.product_details.discounted_price" class="discounted_price" textWrap="true" *ngIf="item.product_details.discounted_price > 0"></Label>
                                <Label [text]="item.product_details.price" class="original_price" textWrap="true" [ngClass]="[item.product_details.discounted_price > 0 ? 'isDiscount' : '']"></Label>
                                <Label [text]="getDiscount(item.product_details.price,item.product_details.discounted_price)" class="discount" textWrap="true"
                                    *ngIf="item.product_details.discounted_price > 0"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout horizontalAlignment="right" verticalAlignment="center" col="1" row="0">
                            <GridLayout rows="*,*,*" verticalAlignment="center">
                                <Label [text]="'Quantity - ' + item.quantity" row="0" verticalAlignment="center" textAlignment="center"></Label>
                                <Label [text]="'Total cost - ' + item.total_cost" row="1" verticalAlignment="center" textAlignment="center"></Label>
                                <Label [text]="'Packaging charge - ' + item.packaging_cost" row="2" verticalAlignment="center" textAlignment="center"></Label>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </CardView>

            <Button class="btn btn-primary simple-btn" *ngIf="!order_details?.delivery_status" text="Make Delivered" (tap)="updateCustomerOrderDelivery()"></Button>
            <Button class="btn btn-primary simple-btn" *ngIf="!order_details?.is_paid" text="Make Paid" (tap)="updateCustomerOrderPayment()"></Button>

        </StackLayout>
    </StackLayout>
</ScrollView>