.thumb {
    border-radius: 50%
}

.discounted_price {
    font-weight: 600;
    color: #000;
}

.original_price {
    color: #ccc;
    padding: 0 5;
}

.original_price.isDiscount {
    text-decoration: line-through;
}

.discount {
    color: #ccc;
}