<FlexboxLayout class="location_modal">
    <StackLayout>
        <AbsoluteLayout class="action-bar" orientation="horizontal">
            <Label verticalAligment="middle" id="arrow-icon" [text]="'fa-long-arrow-left' | fonticon" class="fa back-icon"></Label>
            <Label class="Back-btn" text="Back" width="100%" (tap)="close()"></Label>
        </AbsoluteLayout>
        <Button class="current-location" text="Use Current location" (tap)="enableLocationServices()" *ngIf="!currentGeoLocation" height="50"></Button>
        <!-- <StackLayout *ngIf="currentGeoLocation">
            <Label text="Latitude: {{ currentGeoLocation.latitude }}"></Label>
            <Label text="Longitude: {{ currentGeoLocation.longitude }}"></Label>
            <Label text="Altitude: {{ currentGeoLocation.altitude }}"></Label>
            <Label text="Direction: {{ currentGeoLocation.direction }}"></Label>
        </StackLayout> -->
        <!-- <TextField id="searchField" returnKeyType="done" hint="Search by Location" width="90%" (textChange)="searchFieldChanged($event)" height="50" class="input input-border search-filed" borderColor="#ababab" borderRadius="5" borderWidth="1"></TextField> -->
        <SearchBar hint="Search by Location" text="" (textChange)="searchFieldChanged($event)" 
            color="#000" textFieldBackgroundColor="white" textFieldHintColor="white" borderColor="#ababab" borderRadius="5" borderWidth="1"></SearchBar>

        <ListView class="list-group" [items]="items" (itemTap)="listViewItemTap($event)">
            <ng-template let-app="item">
                <GridLayout columns="auto,auto" rows="*,*" class="list-group-item" verticalAlignment="center">
                    <Label id="arrow-icon" [text]="'fa-map-marker' | fonticon" class="fa icon-location" row="0" col="0" verticalAlignment="center"></Label>
                    <Label [text]="app.data.structured_formatting.main_text" class="list-group-item-heading" row="0" col="1" verticalAlignment="center"></Label>
                    <Label [text]="app.description" class="list-group-item-heading area-detail" row="1" col="1" verticalAlignment="center"></Label>
                </GridLayout>
            </ng-template>
        </ListView>

    </StackLayout>

</FlexboxLayout>