<FlexboxLayout class="login-page">

    <StackLayout class="full-content">
        <Image class="logo" src="~/images/logo.png"></Image>
        <StackLayout class="apps-container">
            <StackLayout class="form" [formGroup]="form" novalidate *ngIf="!showOtpSection && !newPwdSection">
                <label class="head-line-store hedding-font" text="Forgot Password"></label>
                <GridLayout rows="auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Registerd Mobile Number"
                            returnKeyType="next" [isEnabled]="!processing" formControlName="contact_no" [ngClass]="displayFieldCss('contact_no')"
                            height="40" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid('contact_no')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Registerd Mobile Number"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary" text="Submit" [isEnabled]="!processing" (tap)="customerForgotPasswordOtp()" backgroundColor="#284058"
                    color="#fff" width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                
            </StackLayout>

            <StackLayout class="form" [formGroup]="otpForm" novalidate *ngIf="showOtpSection && !newPwdSection">
                <label class="head-line-store hedding-font" text="Enter OTP"></label>
                <GridLayout rows="auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="OTP"
                            returnKeyType="next" [isEnabled]="!processing" formControlName="otp" [ngClass]="displayFieldCss1('otp')"
                            height="40" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid1('otp')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Otp"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary" text="Confirm" [isEnabled]="!processing" (tap)="submitOtp()" backgroundColor="#284058" color="#fff"
                    width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Resend OTP" class="tag-line-grey m-b-10 m-t-10" (tap)="resendOtp()" ></Label>

            </StackLayout>
            <StackLayout class="form" [formGroup]="passwordForm" novalidate *ngIf="newPwdSection">
                <label class="head-line-store hedding-font" text="Enter New Password"></label>
                <GridLayout rows="auto, auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Password"
                            returnKeyType="next" [isEnabled]="!processing" formControlName="password" [ngClass]="displayFieldCss2('password')"
                            height="40" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid2('password')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Password"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="input-filld" row="1">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Confirm Password"
                            returnKeyType="next" [isEnabled]="!processing" formControlName="conf_password" [ngClass]="displayFieldCss2('conf_password')"
                            height="40" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid2('conf_password')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Confirm Password"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary" text="Submit" [isEnabled]="!processing" (tap)="submitNewPwd()" backgroundColor="#284058" color="#fff"
                    width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>

            </StackLayout>
        </StackLayout>

    </StackLayout>
</FlexboxLayout>