<FlexboxLayout class="login-page">

    <StackLayout class="full-content">
        <Image class="logo" src="~/images/logo.png"></Image>
        <StackLayout class="apps-container">
            <StackLayout class="form" [formGroup]="form" novalidate *ngIf="!showOtpSection && !newPwdSection">
                <label class="head-line-store hedding-font" text="Forgot Password"></label>
                <GridLayout rows="auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Registerd Mobile Number"
                            returnKeyType="done" formControlName="contact_no" [ngClass]="displayFieldCss(form,'contact_no')" height="40"
                            padding="10" fontSize="12" keyboardType="number"></TextField>
                        <StackLayout *ngIf="isFieldValid(form,'contact_no')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Valid Registerd Mobile Number"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary simple-btn" text="Submit" (tap)="customerForgotPasswordOtp()" width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Back to login" class="tag-line-grey m-b-10 m-t-10" [nsRouterLink]="['/login']"></Label>
            </StackLayout>

            <StackLayout class="form" [formGroup]="otpForm" novalidate *ngIf="showOtpSection && !newPwdSection">
                <label class="head-line-store hedding-font" text="Enter OTP"></label>
                <GridLayout rows="auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="OTP"
                            returnKeyType="done" formControlName="otp" [ngClass]="displayFieldCss(otpForm,'otp')" height="40" padding="10"
                            fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid(otpForm,'otp')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Otp"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary simple-btn" text="Confirm" (tap)="submitOtp()" width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Resend OTP" class="tag-line-grey m-b-10 m-t-10" (tap)="resendOtp()"></Label>
                <Label text="Back to login" class="tag-line-grey m-b-10 m-t-10" [nsRouterLink]="['/login']"></Label>
            </StackLayout>
            <StackLayout class="form" [formGroup]="passwordForm" novalidate *ngIf="newPwdSection">
                <label class="head-line-store hedding-font" text="Enter New Password"></label>
                <GridLayout rows="auto, auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Password"
                            returnKeyType="next" formControlName="password" [ngClass]="displayFieldCss(passwordForm,'password')" height="40"
                            padding="10" fontSize="12" secure="true"></TextField>
                        <StackLayout *ngIf="isFieldValid(passwordForm,'password')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Password"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="input-filld" row="1">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Confirm Password"
                            returnKeyType="done" formControlName="conf_password" [ngClass]="displayFieldCss(passwordForm,'conf_password')"
                            height="40" padding="10" fontSize="12" secure="true"></TextField>
                        <StackLayout *ngIf="isFieldValid(passwordForm,'conf_password')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Confirm Password"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary simple-btn" text="Submit" (tap)="submitNewPwd()" width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Back to login" class="tag-line-grey m-b-10 m-t-10" [nsRouterLink]="['/login']"></Label>
            </StackLayout>
        </StackLayout>

    </StackLayout>
</FlexboxLayout>