<ScrollView row="0">
    <StackLayout class="full-dashboard">
        <StackLayout class="full-content">
            <StackLayout class="edit-container">
                <StackLayout class="form" [formGroup]="form" novalidate>
                    <GridLayout rows="auto, auto">
                        <StackLayout class="input-filld" row="0">
                            <TextField hint="Category" class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" returnKeyType="next"
                                formControlName="category_name" [(ngModel)]="product_category_data.category_name"
                                [ngClass]="displayFieldCss('category_name')"></TextField>
                            <StackLayout *ngIf="isFieldValid('category_name')" class="invalid-feedback">
                                <Label text="Category is required"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout class="input-filld" row="1">
                            <TextField hint="Description" class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" returnKeyType="next" [isEnabled]="!processing"
                                formControlName="description" [(ngModel)]="product_category_data.description"></TextField>

                        </StackLayout>
                    </GridLayout>

                    <Button class="btn btn-primary" text="Submit" (tap)="createProductCategory()" backgroundColor="#6c6969" color="#fff" width="50%">
                    </Button>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>