<action-bar></action-bar>
<GridLayout rows="*">
    <ScrollView row="0">
        <StackLayout class="full-dashboard">
            <FlexboxLayout flexWrap="wrap" alignItems="flex-start">
                <CardView *ngFor="let item of user_app_list" class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="2" shadowOffsetHeight="2" alignSelf="flex-start" [nsRouterLink]="['/created-app/', item.id, 'details']">
                    <StackLayout orientation="vertical">
                        <StackLayout class="app-icon">
                            <Image class="dash-image" [src]="base_url + item.logo" *ngIf="item.logo != ''"></Image>
                            <Image class="dash-image" src="~/images/no-image-logo.jpg" *ngIf="item.logo == ''"></Image>
                        </StackLayout>
                        <Label class="app-name" [text]="item.app_name"></Label>
                    </StackLayout>
                </CardView>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>