<action-bar></action-bar>
<GridLayout rows="*">
    <ScrollView row="0">
        <StackLayout class="full-dashboard">
            <Label color="#021733" textAlignment="center" fontSize="15" text="Your App"></Label>
            <StackLayout width="100%" textAlignment="left" class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
            <FlexboxLayout flexWrap="wrap" alignItems="flex-start">
                <AbsoluteLayout *ngFor="let item of user_app_list" class="noti">

                    <CardView class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="2" shadowOffsetHeight="2" alignSelf="flex-start" [nsRouterLink]="['/created-app/', item.id, 'details']">
                        <StackLayout orientation="vertical">

                            <StackLayout class="app-icon">
                                <AbsoluteLayout class="due-payment">



                                    <Image class="dash-image" [src]="base_url + item.logo" *ngIf="item.logo != ''"></Image>
                                    <Image class="dash-image" src="~/images/no-image-logo.jpg" *ngIf="item.logo == ''"></Image>

                                    <Image class="due-image" *ngIf="!item.is_paid" src="~/images/payment-due.png"></Image>



                                </AbsoluteLayout>
                            </StackLayout>
                            <Label class="app-name" [text]="item.app_name"></Label>
                        </StackLayout>
                    </CardView>
                    <Label *ngIf="item.total_unread_notification > 0" verticalAlignment="center" [text]="item.total_unread_notification" class="body unread" textAlignment="center"></Label>
                </AbsoluteLayout>
                <CardView class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="2" shadowOffsetHeight="2" alignSelf="flex-start" [nsRouterLink]="['/app-create']">
                    <StackLayout orientation="vertical">
                        <StackLayout class="app-icon">
                            <Image class="dash-image" src="~/images/create-new-app.jpg"></Image>
                        </StackLayout>
                        <Label class="app-name" text="Create App"></Label>
                    </StackLayout>
                </CardView>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>