<ScrollView row="0">
    <StackLayout class="full-dashboard" *ngIf="visible_key">
        <FlexboxLayout marginBottom="30" flexWrap="wrap" justifyContent="space-around" alignItems="flex-start">
            <CardView class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="0" shadowOffsetHeight="0" alignSelf="flex-start">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon" (tap)="pickLogo()">
                        <AbsoluteLayout class="camera-icon" paddingLeft="13">
                            <Image borderColor="#d3d3d3" borderWidth="1" [src]="app_data.logo" *ngIf="app_data.logo != '' && app_data.logo != null"></Image>
                            <Image borderColor="#d3d3d3" borderWidth="1" src="~/images/no-image-logo.jpg" *ngIf="app_data.logo == '' || app_data.logo == null"></Image>
                            <Label backgroundColor="#cb202d" color="#fff" fontSize="8" borderRadius="50%" class="upload-image" VerticalAlignment="center" class="fa change_logo" [text]="'fa-camera' | fonticon"></Label>
                        </AbsoluteLayout>
                    </StackLayout>
                    <Label fontSize="15" VerticalAlignment="center" textAlignment="center" [text]="app_data.business_name"></Label>
                </StackLayout>
            </CardView>
        </FlexboxLayout>
        <GridLayout rows="auto, auto, auto, auto,auto,auto">
            <GridLayout class="action-section" VerticalAlignment="center" row="0" rows="*" columns="40,*,40" [nsRouterLink]="['/created-app/', app_id, 'edit-app']">
                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                <Label class="action-text" text="Edit App" row="0" col="1" VerticalAlignment="center"></Label>
                <Label class="fa fa-chevron-right icon-next" [text]="'fa-chevron-right' | fonticon" row="0" col="2" VerticalAlignment="center"></Label>
            </GridLayout>
            <GridLayout class="action-section" *ngIf="serviceType ==1" VerticalAlignment="center" row="1" rows="*" columns="40,*,40" [nsRouterLink]="['/created-app/', app_id, 'products']">
                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                <Label class="action-text" text="Edit Product" row="0" col="1" VerticalAlignment="center"></Label>
                <Label class="fa fa-chevron-right icon-next" [text]="'fa-chevron-right' | fonticon" row="0" col="2" VerticalAlignment="center"></Label>
            </GridLayout>
            <GridLayout class="action-section" *ngIf="serviceType ==2" VerticalAlignment="center" row="1" rows="*" columns="40,*,40" [nsRouterLink]="['/created-app/', app_id, 'products']">
                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                <Label class="action-text" text="Edit Service" row="0" col="1" VerticalAlignment="center"></Label>
                <Label class="fa fa-chevron-right icon-next" [text]="'fa-chevron-right' | fonticon" row="0" col="2" VerticalAlignment="center"></Label>
            </GridLayout>
            <GridLayout class="action-section" VerticalAlignment="center" rows="*" columns="40,*,40" row="2" [nsRouterLink]="['/created-app/', app_id, 'edit-owner-info']">
                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                <Label class="action-text" text="Edit Owner Info" row="0" col="1" VerticalAlignment="center"></Label>
                <Label class="fa fa-chevron-right icon-next" [text]="'fa-chevron-right' | fonticon" row="0" col="2" VerticalAlignment="center"></Label>
            </GridLayout>
            <GridLayout class="action-section" VerticalAlignment="center" rows="*" columns="40,*,40" row="3" [nsRouterLink]="['/created-app/', app_id, 'edit-business-images']">
                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                <Label class="action-text" text="Edit Business Images" row="0" col="1" VerticalAlignment="center"></Label>
                <Label class="fa fa-chevron-right icon-next" [text]="'fa-chevron-right' | fonticon" row="0" col="2" VerticalAlignment="center"></Label>
            </GridLayout>
            <GridLayout class="action-section" VerticalAlignment="center" rows="*" columns="40,*,40" row="4" [nsRouterLink]="['/created-app/', app_id, 'edit-social-media']">
                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                <Label class="action-text" text="Edit Social Media" row="0" col="1" VerticalAlignment="center"></Label>
                <Label class="fa fa-chevron-right icon-next" [text]="'fa-chevron-right' | fonticon" row="0" col="2" VerticalAlignment="center"></Label>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>