<ScrollView row="0">
    <StackLayout class="full-dashboard">
        <FlexboxLayout flexWrap="wrap" justifyContent="space-around" alignItems="flex-start">
            <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0" width="250px"
                height="250px" alignSelf="flex-start">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon">
                        <Image [src]="app_data.logo" *ngIf="app_data.logo != ''"></Image>
                        <Image src="~/images/no-logo.png" *ngIf="app_data.logo == ''"></Image>
                    </StackLayout>
                    <Label class="app-name" [text]="app_data.business_name"></Label>

                </StackLayout>
            </CardView>
        </FlexboxLayout>
        <GridLayout columns="*,*" rows="*,*,*" backgroundColor="lightgray" VerticalAlignment="middle" marginTop="10" >
            <StackLayout class="action-section" col="0" row="0" borderTopWidth="1"  borderLeftWidth="1" borderColor="#3aa6fe" VerticalAlignment="middle" [nsRouterLink]="['/created-app/manage-app', app_id]">
                <Label class="fa fa-building-o" [text]="'fa-building-o' | fonticon"></Label>
                <Label class="action-text" text="Manage App"></Label>
            </StackLayout>
            <StackLayout class="action-section" col="1" row="0" borderTopWidth="1"  borderLeftWidth="1" borderRightWidth="1" borderColor="#3aa6fe"  VerticalAlignment="middle" [nsRouterLink]="['/created-app/report', app_id]">
                <Label class="fa fa-newspaper-o" [text]="'fa-newspaper-o' | fonticon"></Label>
                <Label class="action-text" text="Reports"></Label>
            </StackLayout>
            <StackLayout class="action-section" col="0" row="1" borderTopWidth="1"  borderLeftWidth="1" borderColor="#3aa6fe" VerticalAlignment="middle" [nsRouterLink]="['/created-app/messages', app_id]">
                <Label class="fa fa-commenting-o" [text]="'fa-commenting-o' | fonticon"></Label>
                <Label class="action-text" text="Messages"></Label>
            </StackLayout>
            <StackLayout class="action-section" col="1" row="1" borderTopWidth="1"  borderLeftWidth="1" borderRightWidth="1" borderColor="#3aa6fe" VerticalAlignment="middle" [nsRouterLink]="['/created-app/customers', app_id]">
                <Label class="fa fa-users" [text]="'fa-users' | fonticon"></Label>
                <Label class="action-text" text="My Customer"></Label>
            </StackLayout>
            <StackLayout class="action-section" col="0" row="2" borderTopWidth="1"  borderLeftWidth="1" borderBottomWidth="1" borderColor="#3aa6fe"  VerticalAlignment="middle">
                <Label class="fa fa-share-alt" [text]="'fa-share-alt' | fonticon"></Label>
                <Label class="action-text" text="Market your App"></Label>
            </StackLayout>
            <StackLayout class="action-section" col="1" row="2" borderTopWidth="1"  borderLeftWidth="1" borderRightWidth="1"  borderBottomWidth="1" borderColor="#3aa6fe" VerticalAlignment="middle">
                <Label class="fa fa-calendar-check-o" [text]="'fa-calendar-check-o' | fonticon"></Label>
                <Label class="action-text" text="Subscription"></Label>
            </StackLayout>

        </GridLayout>
    </StackLayout>
</ScrollView>