<ScrollView row="0">
    <StackLayout class="full-dashboard">
        <FlexboxLayout flexWrap="wrap" justifyContent="space-around" alignItems="flex-start">
            <CardView class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="0" shadowOffsetHeight="0" alignSelf="flex-start">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon">
                        <Image [src]="app_data.logo" *ngIf="app_data.logo != ''"></Image>
                        <Image src="~/images/no-logo.png" *ngIf="app_data.logo == ''"></Image>
                    </StackLayout>
                    <Label class="app-name" [text]="app_data.business_name"></Label>
                </StackLayout>
            </CardView>
        </FlexboxLayout>
        <StackLayout class="full-content">
            <StackLayout class="edit-container">
                <StackLayout class="form" [formGroup]="form" novalidate>
                    <GridLayout rows="auto, auto">
                        <StackLayout class="input-filld" row="0">
                            <TextField hint="Name Of Your Business" class="input input-border cyan-border m-t-10" returnKeyType="next"
                               formControlName="business_name" [(ngModel)]="app_data.business_name"
                                [ngClass]="displayFieldCss('business_name')" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff"></TextField>
                            <StackLayout *ngIf="isFieldValid('business_name')" class="invalid-feedback">
                                <Label text="Name Of Your Business is required"></Label>
                            </StackLayout>
                        </StackLayout>

                        <StackLayout class="input-filld" row="1">
                            <TextField hint="Description Of Your Business" class="input input-border cyan-border m-t-10" returnKeyType="done"
                                formControlName="business_description" [(ngModel)]="app_data.business_description"
                                [ngClass]="displayFieldCss('business_description')" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff"></TextField>
                            <StackLayout *ngIf="isFieldValid('business_description')" class="invalid-feedback">
                                <Label text="Description Of Your Business is required"></Label>
                            </StackLayout>
                        </StackLayout>                  
                    </GridLayout>

                    <Button class="btn btn-primary" text="Update" (tap)="updateAppInfo()" backgroundColor="#6c6969" color="#fff" width="50%">
                    </Button>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>