<StackLayout class="login-page">

    <StackLayout class="full-content">
        <Image class="logo m-t-10" src="~/images/logo.png"></Image>
        <StackLayout class="apps-container">
            <StackLayout class="form" [formGroup]="form" novalidate>
                <label class="head-line-store hedding-font" text="Sign Up"></label>
                <GridLayout rows="auto, auto, auto, auto">


                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Name" returnKeyType="next" formControlName="name" [ngClass]="displayFieldCss('name')" height="35" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid('name')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter your name"></Label>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout class="input-filld" row="1">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Contact No." returnKeyType="next" formControlName="contact_no" [ngClass]="displayFieldCss('contact_no')" height="35" padding="10"
                            fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid('contact_no')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter valid phone number"></Label>
                        </StackLayout>
                    </StackLayout>


                    <StackLayout class="input-filld" row="2">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Email id" returnKeyType="next" formControlName="email" [ngClass]="displayFieldCss('email')" height="35" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid('email')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter a valid email address"></Label>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout class="input-filld" row="3">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969" backgroundColor="#fff" hint="Password" returnKeyType="next" formControlName="password" [ngClass]="displayFieldCss('password')" height="35" padding="10" fontSize="12"
                            secure="true"></TextField>
                        <StackLayout *ngIf="isFieldValid('password')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter password"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary simple-btn " text="Sign Up" (tap)="signUp()">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Back to login" class="tag-line-grey m-b-10 m-t-10" [nsRouterLink]="['/login']"></Label>

                <!-- <Button class="btn" text="facebook" (tap)="onTap($event)" backgroundColor="#4267B2" color="#fff" width="100%">
                </Button>

                <Button class="btn" text="Google" (tap)="onTap($event)" backgroundColor="#EA4335" color="#fff" width="100%">
                </Button> -->
            </StackLayout>

        </StackLayout>
    </StackLayout>

</StackLayout>