<FlexboxLayout class="login-page">

    <StackLayout class="full-content">
        <Image class="logo m-t-10" src="~/images/logo.png"></Image>
        <StackLayout class="apps-container" *ngIf="!showOtpSection">
            <StackLayout class="form" [formGroup]="form" novalidate>
                <label class="head-line-store hedding-font" text="Sign Up"></label>
                <GridLayout rows="auto, auto, auto, auto">


                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969"
                            backgroundColor="#fff" hint="Name" returnKeyType="next" formControlName="name" [ngClass]="displayFieldCss(form,'name')"
                            height="35" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid(form,'name')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter your name"></Label>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout class="input-filld" row="1">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969"
                            backgroundColor="#fff" hint="Contact No." returnKeyType="next" formControlName="contact_no"
                            [ngClass]="displayFieldCss(form,'contact_no')" height="35" padding="10" fontSize="12"
                            keyboardType="number"></TextField>
                        <StackLayout *ngIf="isFieldValid(form,'contact_no')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter valid phone number"></Label>
                        </StackLayout>
                    </StackLayout>


                    <StackLayout class="input-filld" row="2">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969"
                            backgroundColor="#fff" hint="Email id" returnKeyType="next" formControlName="email"
                            [ngClass]="displayFieldCss(form,'email')" height="35" padding="10" fontSize="12"
                            keyboardType="email"></TextField>
                        <StackLayout *ngIf="isFieldValid(form,'email')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter a valid email address"></Label>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout class="input-filld" row="3">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969"
                            backgroundColor="#fff" hint="Password" returnKeyType="done" formControlName="password"
                            [ngClass]="displayFieldCss(form,'password')" height="35" padding="10" fontSize="12" secure="true"></TextField>
                        <StackLayout *ngIf="isFieldValid(form,'password')" class="invalid-feedback">
                            <Label fontSize="8" text="Please enter password"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary simple-btn " text="Sign Up" (tap)="signUp()">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Back to login" class="tag-line-grey m-b-10 m-t-10" [nsRouterLink]="['/login']"></Label>
            </StackLayout>

        </StackLayout>
        <StackLayout class="apps-container" *ngIf="showOtpSection">
            <StackLayout class="form" [formGroup]="otpForm" novalidate>
                <label class="head-line-store hedding-font" text="Enter OTP"></label>
                <GridLayout rows="auto">
                    <StackLayout class="input-filld" row="0">
                        <TextField class="input input-border cyan-border m-t-10" borderRadius="2" borderColor="#6c6969"
                            backgroundColor="#fff" hint="OTP" returnKeyType="done" formControlName="otp" [ngClass]="displayFieldCss(otpForm,'otp')"
                            height="40" padding="10" fontSize="12"></TextField>
                        <StackLayout *ngIf="isFieldValid(otpForm,'otp')" class="invalid-feedback">
                            <Label fontSize="8" text="Enter Otp"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <Button class="btn btn-primary simple-btn" text="Confirm" (tap)="submitOtp()" width="50%">
                </Button>
                <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
                <Label text="Resend OTP" class="tag-line-grey m-b-10 m-t-10" (tap)="resendOtp()"></Label>
                <Label text="Back to login" class="tag-line-grey m-b-10 m-t-10" [nsRouterLink]="['/login']"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

</FlexboxLayout>