<ScrollView>
  <StackLayout class="apps-container">
    <DockLayout stretchLastChild="false">
      <Label (tap)="modalClose()" [text]="'fa-times' | fonticon" class="fa materialdesign actionbaricon close-btn" dock="right"></Label>
    </DockLayout>
    <Label class="head-line" text="Terms & Conditions"></Label>
    <Label class="" text="Shyam Future Tech LLP, a limited liability company incorporated under the LLP Act, 2008 having its registered office
          at Shyam Towers , EN-32, Sector-V, Salt Lake City, Kolkata – 700091, who is the owner of the mobile application
          and Website BanaoApp (the 'Application Provider & Business Lister') reserves all rights not expressly granted to
          you under these Terms and Conditions. BanaoApp mobile application and Website, the product that is subject to these
          Terms and Conditions is hereafter referred to as the 'Licensed Application'"></Label>
    <Label class="lead" text="Scope of License"></Label>
    <Label text="This license granted to you for the Licensed Application by the Application Provider, is limited to a
      non-exclusive,
      non-transferable, license to use the Licensed Application on any Android™ or IOS™ device that you own or
      control.
      This license does not allow you to use the Licensed Application on any Android™ or IOS™ device that you do
      not
      own or control, and you may not distribute or make the Licensed Application available over a network where it
      could
      be used by multiple devices at the same time. Nothing contained in the Licensed Application should be
      considered
      as granting you, by implication or otherwise, any license or right to use any trade-marks, logos, or other
      names
      contained in the Licensed Application. You may not rent, lease, lend, sell, redistribute or sublicense the
      Licensed
      Application. You may not copy, decompile, reverse engineer, disassemble, attempt to derive the source code
      of,
      modify, or create derivative works of the Licensed Application, any updates, or any part thereof (except as
      and
      only to the extent any foregoing restriction is prohibited by applicable law or to the extent as may be
      permitted
      by the licensing terms governing use of any open sourced components included within the Licensed
      Application).
      Any attempt to do so is a violation of the rights of the Application Provider and its licensors. If you
      breach
      this restriction, you may be subject to prosecution and damages. The terms of the license will govern any
      upgrades
      provided by the Application Provider that replace and/or supplement the original Licensed Application, unless
      such
      upgrade is accompanied by a separate license in which case the terms of that license will govern its use."></Label>

    <Label class="lead" text="User Access and Consent to Use of Data"></Label>
    <Label text="By downloading and registering with the Licensed Application, you represent that you are not barred by any
      law, in
      any jurisdiction or bound by any agreement that restricts your rights to access, download and register with
      the
      Licensed Application and to make payments through the Licensed Application. In order to register with the
      Licensed
      Application you will have to provide your mobile number. You will ensure that the mobile number provided for
      registration
      with the Licensed Application is your own and does not belong to any third party and that it is a valid and
      existing
      mobile number. You will solely be responsible for all usage or activity in your account after registration
      with
      the Licensed Application, including use of the account by any third party authorized by you. You agree that
      you
      will not use the Licensed Application to post pornographic content or content that may be deemed offensive,
      indecent,
      or objectionable, which content may or may not be identified as having explicit language or market, or sell
      business,
      products or services that is illegal. Any fraudulent, abusive, misuse or otherwise illegal activity may be
      grounds
      for removal of such content and/or termination of your account at the Application Provider's sole discretion.
      You
      will immediately notify the Application Provider at"></Label>
    <Label text="contact@Shyamfuture.com of any known or suspected unauthorized
      use(s) of your account, or any known or suspected
      breach of security. The Application Provider will not be liable for any losses caused to you, whether
      directly
      or indirectly for any unauthorized use of your account or for your failure or delay to intimate the
      Application
      Provider of known or suspected unauthorized use(s) of your account, or any known or suspected breach of
      security.
      You acknowledge and agree that upon your registration and use of the Licensed Application, the Application
      Provider
      will collect, use, store and archive information in accordance with the aforementioned privacy policy"></Label>
    <Label class="lead" text="Eligibility Criteria"></Label>
    <Label text="The services are not available to persons under the age of 18 or to anyone previously suspended or removed
      from the
      services by BanaoApp. By accepting these Terms & Conditions or by otherwise using the Services or the Site,
      You
      represent that You are at least 18 years of age and have not been previously suspended or removed from the
      Services.
      You represent and warrant that you have the right, authority, and capacity to enter into this Agreement and
      to
      abide by all of the terms and conditions of this Agreement. You shall not impersonate any person or entity,
      or
      falsely state or otherwise misrepresent identity, age or affiliation with any person or entity."></Label>
    <Label class="lead" text="Product Bill Payment"></Label>
    <Label text="Provide true, accurate, current and complete information about yourself and your account information. If you
      provide
      any information that is untrue, inaccurate, not current or incomplete, or Shyam Future Tech LLP has
      reasonable
      grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Shyam Future Tech
      LLP
      has the right to suspend or terminate your account and refuse any and all current or future use of the
      Service
      (or any portion thereof).
      Shyam Future Tech LLP assumes no responsibility and shall incur no liability if it is unable to complete
      the payment
      on Payment Date owing to any one or more of the following:"></Label>

    <Label text="If the Payment Instruction(s) issued by you is/are incomplete, inaccurate, invalid and delayed."></Label>
    <Label text="If the Payment Account has insufficient funds/limits to cover for the payment amount."></Label>
    <Label text="If your Bank refuses or delays honoring the Payment Instruction(s)"></Label>
    <Label text="If payment is not processed by biller upon receipt."></Label>
    <Label text="Circumstances beyond the control of Shyam Future Tech LLP (including, but not limited to, fire, flood,
        natural
        disasters, bank strikes, power failure, systems failure like computer or telephone lines breakdown due to
        an
        unforeseeable cause or interference from an outside force)"></Label>

    <Label text="In case the bill payment is not effected for any reason, you will be intimated about the failed payment by
      an e-mail
      or via a message on your registered details."></Label>
    <Label class="lead" text="Convenience fee"></Label>
    <Label text="Shyam Future Tech LLP strictly prohibits Business partners on BanaoApp platform to charge a convenience fee
      from
      users, in addition to or over & above the bill amount. Business partners have right to levy any charge on the
      transaction.
      Such charges are billed by the business partners and are not party to any such charge. Shyam Future Tech LLP
      is
      not liable for any dispute owing to the same."></Label>
    <Label class="lead" text="Payment Gateway"></Label>
    <Label text="The Licensed Application makes available a payment gateway through its approved payment processing
      provider(s). Your
      use of the payment gateway will be subject to receiving an approved status by the Application Provider,
      fulfilling
      the documentation and other requirements of the approved payment processing provider(s) and adhering to the
      terms
      and conditions of use prescribed by the payment processing provider(s). Please contact us at
      Support@banaoapp.com
      to understand if you qualify to avail of this service. You acknowledge and understand that the payment
      gateway
      services made available through the Licensed Application are owned, controlled and provided by the payment
      processing
      provider(s) and hence, the Application Provider does not warrant and in no way will be liable for the
      timeliness
      of such services and the handover of payments through such services.The license to the Licensed Application
      is
      effective until terminated by you or by the Application Provider in the following circumstances: "></Label>

    <Label text="(i) When you delete your account of your own accord or send an email to support@banaoapp.com requiring
        deletion
        of your account; "></Label>
    <Label text="(ii) When the Application Provider ceases to make available the Licensed Application with the provision
        of 14 days
        notice. Additionally, your rights under this license will terminate automatically without notice from the
        Application
        Provider, if you fail to comply with any term(s) set out in these Terms and Conditions. In such event, the
        Application
        Provider reserves the rights to delete your account and deny you access to the Licensed Application. Upon
        termination
        of the license for any reason, you shall cease all use of the Licensed Application, and destroy all copies,
        full
        or partial, of the Licensed Application. [Note: Merely un-installing the Licensed Application from your
        mobile
        device will not result in the deletion of your account or information from the Licensed Application and you
        will
        have to send an email to support@banaoapp.com if you wish to delete your account or information from the
        Licensed
        Application databases and servers.]"></Label>
    <Label class="lead" text="Replacement, Refund, Dispute Policy"></Label>
    <Label text="
      Banao App provides Mobile application and related web pages for the individual business and hence there is no
      replacement or refund policy which hold good for them. Please mail us on support@banaoapp.com
      for any further queries"></Label>
    <Label class="lead" text="Termination"></Label>
    <Label text="You agree that Shyam Future Tech LLP, in its sole discretion, for any or no reason, and without penalty, may
      suspend or terminate your account (or any part thereof) or your use of the Services and remove and discard
      all or any part of your account, your user profile, or your profile, at any time. Shyam Future Tech LLP may
      also in its sole discretion and at any time discontinue providing access to BanaoApp platform, Services, or
      any part thereof, with or without notice. You agree that any termination of your access to the Services or
      any account you may have or portion thereof may be effected without prior notice, and you agree that Shyam
      Future Tech LLP will not be liable to you or any third party for any such termination. Any suspected
      fraudulent, abusive or illegal activity may be referred to appropriate law enforcement authorities. These
      remedies are in addition to any other remedies Shyam Future Tech LLP may have at law or in equity. Upon
      termination for any reason, you agree to immediately stop using the Services."></Label>
    <Label class="lead" text="Services & Third Party Material"></Label>
  </StackLayout>
</ScrollView>