<ListView [items]="chats" class="list-group">
  <ng-template let-chat="item" let-index="index">
    <GridLayout rows="auto, auto" columns="auto, *, auto" class="list-group-item" (tap)="goToChat(chat.id)">
      <Image row="0" col="0" rowSpan="2" src="~/images/user.png" class="thumb"></Image>
      <Label row="0" col="1" [text]="chat.name"></Label>
      <Label row="1" col="1" [text]="chat.last_message" class="body"></Label>
      <Label row="0" col="2" [text]="chat.last_messages_time | date: 'shortTime'" class="body time time-unread"></Label>
      <StackLayout row="1" col="2" orientation="horizontal" class="m-x-auto" *ngIf="chat.unread_messages > 0">
        <Label [text]="chat.unread_messages" class="body unread"></Label>
      </StackLayout>
    </GridLayout>
  </ng-template>
</ListView>

<StackLayout *ngIf="chats.length==0">
  <StackLayout borderWidth="1" borderColor="#ccc" style="margin-bottom: 5px;" class="list-group">
      <CardView class="whiteCard">
          <GridLayout rows="auto" columns="*" class="list-group-item" padding="10" verticalAlignment="center">
              <Label row="0" col="0" text="No messages yet" verticalAlignment="center"></Label>
          </GridLayout>
      </CardView>
  </StackLayout>
</StackLayout>
